/*General*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #149ddd;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}


* {
    box-sizing: border-box;
}

#menu-section {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #040b14;
    color: rgb(255, 255, 255, 0.5) !important;
}

#profile-picture {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-position: cover;
    border: 10px solid rgb(90, 88, 88);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#my-name {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 600;
    font-size: 24px;
    padding-top: 20px;
    color: white;
}


/* Nav menu*/
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a span,
.nav-menu a:focus span {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #149ddd;
}

main {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 300px ;
    padding-left: 40px;
    padding-right: 40px;
}

#start-page {
    position: sticky;
    top: 0px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#start-page>img {
    height: 500px;
    width: auto;
}
#start-page div{
    height: fit-content;
}
#start-page h1{
    font-size: 64px;
    font-family: 'Raleway';
    color: #173b6c;
}
#start-page p {
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
    color: #173b6c;
    font-family: 'Poppins';
}
#start-page p>span{
    border-bottom: 3px solid #149ddd;
}
main>div {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/*about section*/
#about{
    height: 100vh;
}
#about>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;
    font-family: 'Raleway';
    

}
#about>header>span{
    padding-bottom: 15px;
    border-bottom: 3px solid #149ddd;
}

#about>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}

#personal-details li{
    height: 60px;

}

#personal-details img{
    height: 330px;
    width: 330px;
}
.arrowhead {
    font-size: 16px;
    color: #149ddd;
    vertical-align: middle;
}


/*skills section*/
.skills {
    margin-top: 40px;
    height: 100vh;
}

.skills>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.skills>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
  .skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
  }









/*Projects section*/
#projects>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;

    text-decoration: underline;
    text-underline-offset: 15px;
}

#projects>p {
    padding-top: 40px;
}

@media all and (max-width: 1199px) {
    #menu-section {
        margin-left: -300px;     
    }
    #start-page{
        
    }
    #start-page img {
       display: none;
    }
    #start-page div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
    
    main {
        margin-left: 0;
        margin-right: 0;
    }
}
@media all and (max-width: 992px) {
    #about{
        height: auto;
    }
    .skills{
        height: auto;
    }
}
@media all and (max-width: 768px) {
    #start-page div h1{
        font-size:40 px;
     }
}

