/*General*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #149ddd;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}


* {
    box-sizing: border-box;
}

#menu-section {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #040b14;
    color: rgb(255, 255, 255, 0.5) !important;
}

#profile-picture {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-position: cover;
    border: 10px solid rgb(90, 88, 88);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#my-name {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 600;
    font-size: 24px;
    padding-top: 20px;
    color: white;
}


/* Nav menu*/
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a span,
.nav-menu a:focus span {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #149ddd;
}

main {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 300px;
    padding-left: 40px;
    padding-right: 40px;
}

#start-page {
    position: sticky;
    top: 0px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#start-page>img {
    height: 500px;
    width: auto;
}

#start-page div {
    height: fit-content;
}

#start-page h1 {
    font-size: 64px;
    font-family: 'Raleway';
    color: #173b6c;
}

#start-page p {
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
    color: #173b6c;
    font-family: 'Poppins';
}

#start-page p>span {
    border-bottom: 3px solid #149ddd;
}

main>div {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/*about section*/
#about {
    height: 100vh;
}

#about>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;
    font-family: 'Raleway';


}

#about>header>span {
    padding-bottom: 15px;
    border-bottom: 3px solid #149ddd;
}

#about>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}

#personal-details li {
    height: 60px;

}

#personal-details img {
    height: 330px;
    width: 330px;
}

.arrowhead {
    font-size: 16px;
    color: #149ddd;
    vertical-align: middle;
}


/*#skills section*/
#skills {
    margin-top: 40px;
    height: 100vh;
}

#skills>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    /* color: #173b6c; */
    text-decoration: underline;
    text-underline-offset: 15px;
}

#skills>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}

#skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

#skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}

#skills .progress .skill .val {
    float: right;
    font-style: normal;
}

#skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
}

#skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
}









/*Projects section*/
#projects{
    min-height: 100vh;
}

#projects>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;

    text-decoration: underline;
    text-underline-offset: 15px;
}

#projects>p {
    padding-top: 40px;
}

#projects .icon-box {
    margin-bottom: 20px;
}

#projects .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}

#projects .icon span {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

#projects .icon-box:hover .icon {
    background: #fff;
}

#projects .icon-box:hover .icon i {
    color: #149ddd;
}

#projects .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#projects .title a {
    color: #343a40;
}

#projects .title a:hover {
    color: #149ddd;
}

#projects .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

#projects .link {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

/*Contact*/
#contacts{
    min-height: 100vh;
}

#contacts>header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;

    text-decoration: underline;
    text-underline-offset: 15px;
}





@media all and (max-width: 1199px) {
    #menu-section {
        margin-left: -300px;
    }

    #start-page {}

    #start-page img {
        display: none;
    }

    #start-page div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-left: 0;
        margin-right: 0;
    }
}

@media all and (max-width: 992px) {
    #about {
        height: auto;
    }

    #skills {
        height: auto;
    }
}

@media all and (max-width: 768px) {
    #start-page div h1 {
        font-size: 40 px;
    }
}

/*Email Form*/

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: inherit;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}