* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

#menu-section {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #040b14;
    color: rgb(255, 255, 255, 0.5) !important;
}

#profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-position: cover;
    border: 10px solid rgb(90, 88, 88);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#my-name {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 600;
    font-size: 24px;
    padding-top: 20px;
    color: white;
}

#menu-list {
    list-style-type: none;
    padding-left: 30px;

}

#menu-list li {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
}

#home-link,
#about-link,
#project-link,
#resume-link {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255, 0.5) !important;
    

}
#menu-list a:visited{
    text-decoration: none;
}


#menu-list a:hover {
    color: white !important;
}

#menu-list a:hover>span {
    color: blue;
}

main {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 350px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
}

#main-picture {
    position: sticky;
    top: 50px;
    z-index: -1;
}

#main-picture img {
    height: 500px;
    width: auto;
    float: right;   
    border-radius: 20px;
}

#main-picture>p {
    font-size: 75px;
    padding-top: 150px;
    height: 500px;
    padding-left: 50px;
    color: #173b6c;
    animation-duration: 4s;
}

main>div {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

/*about section*/
#about>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;
    text-decoration: underline;
    text-underline-offset: 15px;
}

#about>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}

#about>table {
    margin-top: 20px;
}

.arrowhead {
    font-size: 16px;
    color: #149ddd;
    vertical-align: middle;
}

#about>table tr {
    line-height: 50px;
}

#about>table td {
    width: 250px;
}

#about>table td:first-child {
    width: 150px;
    font-weight: bold;
}

#about>table td:nth-child(3) {
    width: 150px;
    font-weight: bold;
}

/*skills section*/
#skills {
    margin-top: 40px;
}

#skills>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;
    text-decoration: underline;
    text-underline-offset: 15px;
}

#skills>p {
    text-align: justify;
    padding-top: 40px;
    line-height: 30px;
}

#skills>table {
    margin: 0 auto;
}
#skills>table td {
   
    width: 300px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 20px;
}
.table-row-head {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b6e026+65,abdc28+84 */
    background: #b6e026;
    /* Old browsers */
    background: -moz-linear-gradient(left, #b6e026 65%, #abdc28 84%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b6e026 65%, #abdc28 84%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b6e026 65%, #abdc28 84%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6e026', endColorstr='#abdc28', GradientType=1);
    /* IE6-9 */
   
}
.table-row-head td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table-row-head td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




/*Projects section*/
#projects>header {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #173b6c;

    text-decoration: underline;
    text-underline-offset: 15px;
}

#projects>p {
    padding-top: 40px;
}

@media all and (max-width: 768px) {
    #menu-section {
        display: none;
    }
    #main-picture img {
        display: none;
   
    }
    main{
        margin-left: 0;

    }
    #main-picture p{
        font-size: 50px;
        height: 100px;
        padding-top: 0;
        padding-left: 0px;
        text-align: center;
    }
}
@media all and (max-width: 992px) {
    #menu-section {
        display: none;
    }
    #main-picture img {
        display: none;
   
    }
    main{
        margin-left: 0;

    }
    #main-picture p{
        font-size: 50px;
        height: 70px;
        padding-top: 0;
        padding-left: 0px;
        text-align: center;
    }
}